.sellingContainer{
	width:100%;
	margin:0 !important;
	max-width:100%;
	background-color: #FFF;
}

.innerContainer{
	padding:0px;
}

.gridContainer{
	max-width:100%;
}

.salesPanel{
	padding-top:2rem;
	padding-bottom:2rem;
}
.salesPaper{
	padding:1rem;
}
.salesIcon svg{
	padding-top:1rem;
	height:4em !important;
	width:4em !important;
	color:#2196F3;
}